.card{
    min-width: 170px;
    max-width: 200px;
    min-height: 130px;
    max-height: 150px;
    flex:1;
    margin: 10px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    font-size: larger;
    font-weight: 500px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.card:hover{
    box-shadow: none;
}